.view-btn{
    background-color: blue;
    border-radius: 10px;
    color:#fff;
    width:100px;
    height: 40px;
    border:none;
    font-size:1rem;
    font-weight: bold;
}
.save-btn{
    background-color: rgb(21, 172, 218);
    border-radius: 10px;
    color:#fff;
    width:100px;
    height: 40px;
    border:none;
    font-size:1rem;
    font-weight: bold;
}
.btn:hover{
    box-shadow:3px 3px 5px 6px #ccc;
}