.HeroCard{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:15rem;
    height: 10rem;
    margin:1rem;
    align-items: center;
    background-color: #f3eff2;
    
   
}
.HeroCard1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3eff2;
    
}
.HeroCard1>img{
   width:40%;
   padding:1rem;
   background-color: #f3eff2;
   
}
.HeroCard1>h4{
    padding:.5rem;
    color:black;
    background-color: #f3eff2;
}
.HeroCard>div>h2{
    font-size:1.7rem;
    color:black;
    background-color: #f3eff2;
    /* background-color: pink; */
    
}
.HeroCard2{
   left:100px;
   background-color: #f3eff2;
}